# Environment variables
.env.example
Backend/.env.example

# Virtual environments
venv/
Backend/venv/

# Python cache
__pycache__/
Backend/**/__pycache__/
*.pyc

# Database
*.db
Backend/moodmentor.db

# VS Code
.vscode/

Frontend/moodmentor-web/dist/

# Frontend dependencies and Vite cache
node_modules/
Frontend/moodmentor-web/node_modules/
*.vite
